---
// import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
// import { getCollection, getEntry } from "astro:content";
import { getSortedPosts } from "../../lib/server-utils";

const title = "Blog | MC";
import { formatDateNumeric } from "../../lib/utils";
// const posts = await Astro.glob("../content/blog/*.md");
// const posts = await getCollection("blog");
const posts = await getSortedPosts();

// generate url path for every blog collection entry
// export const getStaticPaths = async () => {
  // // const blogEntries = await getCollection("blog");
  // const blogEntries = await getSortedPosts();
  // return blogEntries.map((entry) => ({
  //   params: { slug: entry.slug },
  //   props: { entry }
  // }));
// };
// const { entry } = Astro.props;

// !property 'render' does not exist on type 'never'
// const { Content } = await entry.render();

---

<MainLayout>
  <BlogLayout posts={posts}>
    <ul>
      {posts.map((post) => (
        <div class="blog__list-item">
          <li>
            <div class="blog__item-image">
              {/* <img src="" alt=""> */}
            </div>
            <div class="blog__item-info">
              <h2>
                <a href={`/blog/${post.data.slug}`}>{post.data.title}</a>
              </h2>
              <div class="blog__item-date">
                <div>{formatDateNumeric(post.data.published)}</div>
              </div>
            </div>
            </li>
        </div>
      ))}
    </ul>
  </BlogLayout>
</MainLayout>

<!-- <MainLayout {title} >

</MainLayout> -->

<!-- <MainLayout > -->
  <!-- <h1>Blog</h1> -->
  <!-- <ul>
    {posts.map((post) => (
      <li><a href={`/blog/${post.slug}`}>{post.data.title}</a></li>
    ))}
  </ul>
</MainLayout> -->